.card {
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  background-color: #fff;
}

.card__image {
  width: 100%;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 21px 15px 25px 21px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  margin: 0;
  padding: 22px 22px 0 0;
  border: none;
  background-color: inherit;
  background-image: url("../images/like-button__icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
