.card {
  position: relative;
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  background-color: #fff;
}

.card__image {
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 21px 15px 25px 21px;
}

.card__name {
  margin: 0;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card__like-button {
  margin: 0;
  padding: 22px 22px 0 0;
  border: none;
  background-color: inherit;
  background-image: url("../images/like-button__icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_clicked {
  background-image: url("../images/like-button__icon_clicked.svg");
}

.card__like-count {
  margin: 0;
  margin-top: 3px;
  text-align: center;
  font-size: 13px;
  line-height: 1.21;
}

.card__delete-button {
  display: none;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/delete-button__icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.card__delete-button_visible {
  display: block;
}

.card__delete-button:hover {
  opacity: 0.5;
}
