.footer {
  margin-top: 67px;
}

.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 950px) {
  .footer {
    margin: 67px 4% 0;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    margin: 50px 6% 0;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
