.header {
}

.header::after {
  content: "";
  display: block;
  margin: 40px 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  max-width: 173px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 4%;
  }
}

@media screen and (max-width: 450px) {
  .header::after {
    margin: 32px 0 42px;
  }

  .header__logo {
    max-width: 126px;
    margin-left: 8.4%;
  }
}
